.height-fixed {
    width: 100%;
    background: #0868AC;
}
.cate-top {
    position: relative;
}
.cate-top-catefory {
    display: flex;
    align-items: center;
}
.cate-top__item .cate-top__link {
    color: #C0C0C0;
}
.cate-top__item.active .cate-top__link {
    color: #fff;
}
.cate-top__item + .cate-top__item {
    margin-left: 1rem;
}
.cate-top__item{
position: relative;
}
.cate-top__item:not(.active)::before{
    position: absolute;
    content: '\002F';
    color: #fff;
    top: 50%;
    right: -0.65rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.cate-top__text {
    padding: 3.125rem 0 4.5rem 0;
}
.articles-primary {
    display: grid;
    grid-template-columns: 1fr 320px 320px;
    grid-gap: 1.25rem;
    padding: 1.875rem 0 4rem 0;
    border-bottom: 1px solid #d2d2d2;
}
.articles__small {
    padding-left: 1.25rem;
    border-left: 1px solid #d2d2d2;
}
.articles-secondary {
    padding: 1.875rem 0 6.375rem;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 11.25rem;
}
.articles-secondary__item {
    display: flex;
    width: 100%;
    padding: 1.875rem 0;
    border-bottom: 1px solid #d2d2d2;
}
.articles-secondary__item:first-child {
    padding-top: 0;
}
.articles-secondary__item--img {
    width: 35%;
    flex-shrink: 0;
}
.articles-secondary__item--content {
    flex: 1;
    padding-left: 1.25rem;
}