body.hide {
  overflow: hidden;
}
.main-top__primary {
  position: relative;
}
.main-top__contact {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 4 ;
}
.main-top__overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.main-top__sapo {
  margin-bottom: 3.75rem;
}
.tranlucent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.1);
}
.main-top__secondary {
  position: relative;
  // overflow: hidden;
}
.main-top__text {
  padding: 60px 0 115px 0;
}
.main-top__des {
  flex: 1;
}
.main-top__logo {
  flex-shrink: 0;
  margin-top: -102px;
  z-index: 3;
}
.main-top__img {
  width: 380px;
  height: auto;
}
.main-top__wave1,
.main-top__wave2 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.event-news {
  border-bottom: 1px solid #d2d2d2;
  padding: 3.75rem 0;
  margin-bottom: 3.75rem;
}
.main-top__heading {
  margin-bottom: 1.875rem;
}
.event-news__container {
  display: grid;
  grid-template-columns: 1fr 320px 320px;
  grid-gap: 1.25rem;
}
.event-news__small {
  padding-left: 1.25rem;
  border-left: 1px solid #d2d2d2;
}
.block-leader {
  position: relative;
  padding: 3.75rem 0 4.5rem 0;
}
.leader__sapo {
  margin-top: 1.875rem;
  margin-bottom: 1.5rem;
}
.leader-item {
  display: inline-block;
}
.leader-container {
  flex-wrap: wrap;
  overflow: hidden;
}
.leader-container .leader-item + .leader-item {
  margin-left: 3.75rem;
}
.hexagon {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  // cursor: pointer;
  height: 189px;
  overflow: hidden;
  visibility: hidden;
  width: 167px;
  display: inline-block;
}
.hex1 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.hex2 {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
  height: 100%;
  position: relative;
  visibility: visible;
  width: 100%;
  background: #c3e5e3;
  overflow: hidden;
}
.header-hexagon__avatar {
  position: absolute;
  bottom: -5px;
}
.header-hexagon__bg {
  opacity: 0.5;
  position: absolute;
  bottom: -16px;
  left: -40px;
}
.leader-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
}
.block-contact {
  padding: 3.75rem 0 4.5rem 0;
  position: relative;
}
.contact-field {
  z-index: 10;
  position: relative;
}
.contact-overlay {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  user-select: none;
  pointer-events: none;
}
.contact-container {
  position: relative;
}
.contact-info {
  padding: 1.25rem 1.25rem 2.5rem;
  background: rgba($color: #0870D1, $alpha: 0.8);
  width: 457px;
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
}
.block-field-of-activity {
  background-image: url('../images/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3.75rem 0 0.65rem;
  position: relative;
}
.field-of-activity {
  position: relative;
}
.field-of-activity__container {
  position: relative;
}
.field-of-activity__container .swiper {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 50px;
}

.field-of-activity__container .swiper-slide {
  background-position: center;
  background-size: cover;
  // width: 25rem !important;
  height: auto
}

.field-of-activity__container .swiper-slide img {
  display: block;
  width: 100%;
}
.field-of-activity__container .thumb-5x3 {
  padding-bottom: 150%;
}

.field-of-activity__container {
  width: calc(100% - (100% - 1280px)/2);
  margin-left: auto;
}
.field-of-activity__container .swiper-horizontal>.swiper-pagination-progressbar, 
.field-of-activity__container .swiper-pagination-progressbar.swiper-pagination-horizontal {
  max-width: 1280px;
  height: 0.125rem;
  top: auto;
}
.field-of-activity__container .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #E8E8DF;
}
.field-of-activity__container .swiper-pagination-progressbar {
  background: rgb(255 255 255 / 25%);
}
.mask {
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, black, transparent);
  z-index: 10;
  bottom: 0;
  right: 0;
  left: 0;
}
.swiper-slide__text {
  margin-top: -2rem;
  position: relative;
  z-index: 10;
  padding: 0 28px;
}
.swiper-work {
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba($color: #fff, $alpha: 0.65);
  max-width: 1280px;
}
.block-notifi-company {
  background:#F4F6F8;
  padding-top: 3.75rem;
  padding-bottom: 77px;
}
.notifi-compani {
  display: flex;
}
.notifi {
  width: 40%;
  flex-shrink: 0;
  border-right: 1px solid rgba($color: #6B779A, $alpha: 0.2);
  padding-right: 52px;
}
.company {
  width: 60%;
  flex: 1;
  padding-left: 90px;
}
.form-gender,
.form-info {
  padding: 7px 0;
}
.swiper-img {
  max-width: 10rem;
  height: auto;
  margin-bottom: 3.75rem;
}
.swiper-img:last-child {
  margin-bottom: 5rem;
}
.company-container .swiper-button-next, 
.company-container .swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
  top: auto;
  bottom: 0;
}
.company-container .swiper-button-prev, 
.company-container .swiper-rtl .swiper-button-next {
  left: auto;
  right: 3rem;
  bottom: 0;
  top: auto;
}
.company-container .swiper-button-next, 
.company-container .swiper-rtl .swiper-button-prev,
.company-container .swiper-button-prev, 
.company-container .swiper-rtl .swiper-button-next {
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  border: 1px solid #0870d1;
  border-radius: 0.25rem;
}
.company-container .swiper-button-prev:after, 
.company-container .swiper-rtl .swiper-button-next:after {
  content: '\276E';
  font-size: 1rem;
  color: #fff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.company-container .swiper-button-next:after, 
.company-container .swiper-rtl .swiper-button-prev:after {
  content: '\276F';
  font-size: 1rem;
  color: #fff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.company-container .swiper-button-next.swiper-button-disabled, 
.company-container .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  background: #fff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.company-container .swiper-button-next,
.company-container .swiper-button-prev {
  background: #0870D1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.company-container .swiper-button-next.swiper-button-disabled:after, 
.company-container .swiper-button-prev.swiper-button-disabled:after {
  color: #0870D1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.main-top__bg--mb,
.footer-mb,
.navbar-mb {
  display: none;
}
.footer-mb__logo {
  width: 130px;
  height: auto;
}
.footer-mb {
  padding: 1.875rem 0.9375rem;
}
.footer-mb__list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.875rem 0;
  margin: 1.875rem 0;
}
.footer-mb__item:nth-child(even){
  // padding-left: 3rem;
}
.leader-item {
  text-align: center;
}
.footer-mb__text {
  margin-bottom: 0.65rem;
  color: #FCFAF6;
}
.footer-mb__link + .footer-mb__link {
  margin-left: 1rem;
}
.navbar-mb {
  background: #284FA7;
  padding: 13px 18px;
  position: relative;
}
.navbar-mb__list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: auto;
  position: relative;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  scroll-behavior: smooth;
}
.navbar-mb__item + .navbar-mb__item {
  margin-left: 1.25rem;
}
.navbar-mb__list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.navbar-mb__list {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
.navbar-mb__item:first-child {
  position: relative;
}
.navbar-mb__item:first-child::before {
  position: absolute;
  content: '\276F';
  color: #62DFEC;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.navbar-mb__item:first-child {
  margin-right: 1.5rem;
}
.navbar-mb__item:last-child {
  margin-right: 1.5rem;
}
.navbar-arrow {
  position: absolute;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
  width: 3.125rem;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: end;
  padding-right: 0.65rem;
  cursor: pointer;
}
.navbar-arrow {
  color: #fff;
}
